body {
  background-color: #dcbb9a; }

caption {
  color: #000000;
  text-align: right; }

#content {
  width: 960px;
  margin: 0 auto;
  background: #ffffff;
  padding: 20px;
  color: #000000; }
  #content h1, #content h2 {
    color: #893c00; }
  #content h1 {
    text-align: center; }
  #content h2 {
    text-align: left; }
  #content a {
    color: #3d70a1; }
  #content p {
    margin-bottom: 10px; }

img {
  border: 2px solid #893c00;
  padding: 2px; }
  img.img-left {
    float: left;
    margin: 0 20px 5px 0; }
  img.img-right {
    float: right;
    margin: 0 0 10px 5px; }

div .brief {
  background-color: #fadcba;
  width: 40%;
  display: inline-block;
  padding: 20px;
  color: #000000;
  float: left;
  margin: 0 20px 20px 0; }

form input[value], form textarea, form label {
  color: #808080;
  margin: 5px; }
form input {
  height: 30px; }
form label {
  color: #808080; }
form textarea, form input {
  width: 100%; }
form div {
  display: inline-block; }
form .mainInfo1, form .mainInfo2 {
  width: 49.5%; }
form .mainInfo1 {
  float: left; }
form .mainInfo2 {
  float: right; }
form button {
  width: 25%;
  color: #3d70a1;
  border: 0.5px solid #3d70a1;
  margin: 5px;
  background-color: #ffffff;
  height: 40px; }

input[value], textarea {
  border: 0.5px solid #e0e0e0; }

th {
  background-color: #e0e0e0;
  color: black;
  text-align: left;
  font-weight: normal;
  text-transform: uppercase; }

th, td {
  text-indent: 20px;
  letter-spacing: 0.1px;
  height: 40px; }

td {
  background-color: #ffffff; }
