
//colors
$backgroundPage:#dcbb9a;
$quote:#fadcba;
$contentBackground: #ffffff;
$h2:#893c00;
$text:#000000;
$link:#3d70a1;
$tableHead:#e0e0e0;
$table:#ffffff;
$form:#808080;

//brief
$width:40%;
$display:inline-block;
$float:left;

//other
$padding: 10px;
$margin: 10px;
$bth:#3d70a1;

$debug: true;