
//colors
$backgroundPage:rgba(198, 238, 252, 0.53);
$quote:#fff178;
$contentBackground: #3b3b3b;
$h2:#fccd10;
$text:#ffffff;
$link:#f5c70f;
$tableHead:#94a34e;
$table:#677d01;
$form:#f5c70f;

//brief
$width:96%;
$display:block;
$float:inherit;

//other
$padding: 10px;
$margin: 10px;
$bth:#f5c70f;

$debug: false;